<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjwcAfbkO1dHaJAy_c0I8P7vO54Bk5AcA</string>
	<key>GCM_SENDER_ID</key>
	<string>949175962784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeRover</string>
	<key>PROJECT_ID</key>
	<string>reciperover-28351</string>
	<key>STORAGE_BUCKET</key>
	<string>reciperover-28351.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949175962784:ios:5462ccc30ef25a019e4dc5</string>
</dict>
</plist>